* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: black;
    overflow-y: hidden;
}

.container {
    display:inline-flex;
    width: 100vw;
    height: 100vh;
    background-image: url('./wifiisok.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}